/.dev
/.port-tamer.env
/.port-tamer.env.lock
/.sass-cache
/build
/config.test.yml
/config.yml
/config/secrets.rb
/frontend/.cache
/node_modules
/.svelte-kit
/postgresql/tern.conf
/public
/tmp
/logger4life_*
/logger4life.env
/.vscode/

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
